<md-card>
  <ng2-md-datatable>
    <ng2-md-datatable-header>
      <ng2-md-datatable-column>Day</ng2-md-datatable-column>
      <ng2-md-datatable-column>Slot 1</ng2-md-datatable-column>
      <ng2-md-datatable-column>Slot 2</ng2-md-datatable-column>
      <ng2-md-datatable-column>Slot 3</ng2-md-datatable-column>
    </ng2-md-datatable-header>

    <tbody>

      <ng2-md-datatable-row>
        <td>
          Sunday
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot1">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot2">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot3">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

      </ng2-md-datatable-row>

      <ng2-md-datatable-row>
        <td>Monday</td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot1">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot2">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot3">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>
      </ng2-md-datatable-row>

      <ng2-md-datatable-row>
        <td>Tuesday</td>
        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot1">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot2">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot3">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>
      </ng2-md-datatable-row>

      <ng2-md-datatable-row>
        <td>Wednesday</td>
        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot1">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot2">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot3">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>
      </ng2-md-datatable-row>

      <ng2-md-datatable-row>
        <td>Thursday</td>
        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot1">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot2">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot3">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>
      </ng2-md-datatable-row>

      <ng2-md-datatable-row>
        <td>Saturday</td>
        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot1">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot2">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>

        <td>
          <md-radio-group class="radio-group">
            <md-radio-button class="radio-button" *ngFor="let group of groups | callback: filterGroupSlot3">
              {{group.slot}}
            </md-radio-button>
          </md-radio-group>
        </td>
      </ng2-md-datatable-row>

    </tbody>

  </ng2-md-datatable>

</md-card>