<form #edituserRole="ngForm" (ngSubmit)="onSave()">
	<md-card>
		<md-grid-list cols="3" rowHeight="100px">

			<md-grid-tile>
				<md-input-container class="input-userRole">


					<input mdInput [(ngModel)]="userRole.name" name="name" placeholder="Name" value="">



				</md-input-container>
			</md-grid-tile>

		</md-grid-list>
	</md-card>
	<md-card>
		<ng2-md-datatable>
			<ng2-md-datatable-header>
				<ng2-md-datatable-column class="headers">Permissions</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Create</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Read</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Delete</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Update</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Create Others</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Read Others</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Delete Others</ng2-md-datatable-column>
				<ng2-md-datatable-column class="headers">Update Others</ng2-md-datatable-column>
			</ng2-md-datatable-header>
			<ng2-md-datatable-row>

				<ng2-md-datatable-column>Course</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.others.create" [checked]="userRole.permissions.Course.others.create"
					 name="Course.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.others.read" [checked]="userRole.permissions.Course.others.read" name="Course.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.others.delete" [checked]="userRole.permissions.Course.others.delete"
					 name="Course.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.others.update" [checked]="userRole.permissions.Course.others.update"
					 name="Course.others.update"></md-checkbox>
				</ng2-md-datatable-column>



				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.self.create" [checked]="userRole.permissions.Course.self.create" name="Course.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.self.read" [checked]="userRole.permissions.Course.self.read" name="Course.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.self.delete" [checked]="userRole.permissions.Course.self.delete" name="Course.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Course.self.update" [checked]="userRole.permissions.Course.self.update" name="Course.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>
			<ng2-md-datatable-row>
				<ng2-md-datatable-column>CourceOfferingEnrollment</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.others.create" [checked]="userRole.permissions.CourceOfferingEnrollment.others.create"
					 name="CourceOfferingEnrollment.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.others.read" [checked]="userRole.permissions.CourceOfferingEnrollment.others.read"
					 name="CourceOfferingEnrollment.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.others.delete" [checked]="userRole.permissions.CourceOfferingEnrollment.others.delete"
					 name="CourceOfferingEnrollment.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.others.update" [checked]="userRole.permissions.CourceOfferingEnrollment.others.update"
					 name="CourceOfferingEnrollment.others.update"></md-checkbox>
				</ng2-md-datatable-column>



				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.self.create" [checked]="userRole.permissions.CourceOfferingEnrollment.self.create"
					 name="CourceOfferingEnrollment.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.self.read" [checked]="userRole.permissions.CourceOfferingEnrollment.self.read"
					 name="CourceOfferingEnrollment.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.self.delete" [checked]="userRole.permissions.CourceOfferingEnrollment.self.delete"
					 name="CourceOfferingEnrollment.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourceOfferingEnrollment.self.update" [checked]="userRole.permissions.CourceOfferingEnrollment.self.update"
					 name="CourceOfferingEnrollment.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>

			<ng2-md-datatable-row>
				<ng2-md-datatable-column>CourseOffering</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.others.create" [checked]="userRole.permissions.CourseOffering.others.create"
					 name="CourseOffering.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.others.read" [checked]="userRole.permissions.CourseOffering.others.read"
					 name="CourseOffering.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.others.delete" [checked]="userRole.permissions.CourseOffering.others.delete"
					 name="CourseOffering.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.others.update" [checked]="userRole.permissions.CourseOffering.others.update"
					 name="CourseOffering.others.update"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.self.create" [checked]="userRole.permissions.CourseOffering.self.create"
					 name="CourseOffering.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.self.read" [checked]="userRole.permissions.CourseOffering.self.read"
					 name="CourseOffering.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.self.delete" [checked]="userRole.permissions.CourseOffering.self.delete"
					 name="CourseOffering.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.CourseOffering.self.update" [checked]="userRole.permissions.CourseOffering.self.update"
					 name="CourseOffering.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>

			<ng2-md-datatable-row>
				<ng2-md-datatable-column>Department</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.others.create" [checked]="userRole.permissions.Department.others.create"
					 name="Department.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.others.read" [checked]="userRole.permissions.Department.others.read"
					 name="Department.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.others.delete" [checked]="userRole.permissions.Department.others.delete"
					 name="Department.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.others.update" [checked]="userRole.permissions.Department.others.update"
					 name="Department.others.update"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.self.create" [checked]="userRole.permissions.Department.self.create"
					 name="Department.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.self.read" [checked]="userRole.permissions.Department.self.read"
					 name="Department.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.self.delete" [checked]="userRole.permissions.Department.self.delete"
					 name="Department.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Department.self.update" [checked]="userRole.permissions.Department.self.update"
					 name="Department.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>


			<ng2-md-datatable-row>
				<ng2-md-datatable-column>Group</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.others.create" [checked]="userRole.permissions.Group.others.create"
					 name="Group.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.others.read" [checked]="userRole.permissions.Group.others.read" name="Group.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.others.delete" [checked]="userRole.permissions.Group.others.delete"
					 name="Group.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.others.update" [checked]="userRole.permissions.Group.others.update"
					 name="Group.others.update"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.self.create" [checked]="userRole.permissions.Group.self.create" name="Group.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.self.read" [checked]="userRole.permissions.Group.self.read" name="Group.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.self.delete" [checked]="userRole.permissions.Group.self.delete" name="Group.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Group.self.update" [checked]="userRole.permissions.Group.self.update" name="Group.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>

			<ng2-md-datatable-row>
				<ng2-md-datatable-column>Semester</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.others.create" [checked]="userRole.permissions.Semester.others.create"
					 name="Semester.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.others.read" [checked]="userRole.permissions.Semester.others.read"
					 name="Semester.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.others.delete" [checked]="userRole.permissions.Semester.others.delete"
					 name="Semester.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.others.update" [checked]="userRole.permissions.Semester.others.update"
					 name="Semester.others.update"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.self.create" [checked]="userRole.permissions.Semester.self.create"
					 name="Semester.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.self.read" [checked]="userRole.permissions.Semester.self.read" name="Semester.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.self.delete" [checked]="userRole.permissions.Semester.self.delete"
					 name="Semester.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.Semester.self.update" [checked]="userRole.permissions.Semester.self.update"
					 name="Semester.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>

			<ng2-md-datatable-row>
				<ng2-md-datatable-column>SemesterEnrollment</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.others.create" [checked]="userRole.permissions.SemesterEnrollment.others.create"
					 name="SemesterEnrollment.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.others.read" [checked]="userRole.permissions.SemesterEnrollment.others.read"
					 name="SemesterEnrollment.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.others.delete" [checked]="userRole.permissions.SemesterEnrollment.others.delete"
					 name="SemesterEnrollment.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.others.update" [checked]="userRole.permissions.SemesterEnrollment.others.update"
					 name="SemesterEnrollment.others.update"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.self.create" [checked]="userRole.permissions.SemesterEnrollment.self.create"
					 name="SemesterEnrollment.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.self.read" [checked]="userRole.permissions.SemesterEnrollment.self.read"
					 name="SemesterEnrollment.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.self.delete" [checked]="userRole.permissions.SemesterEnrollment.self.delete"
					 name="SemesterEnrollment.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.SemesterEnrollment.self.update" [checked]="userRole.permissions.SemesterEnrollment.self.update"
					 name="SemesterEnrollment.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>

			<ng2-md-datatable-row>
				<ng2-md-datatable-column>User</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.others.create" [checked]="userRole.permissions.User.others.create" name="User.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.others.read" [checked]="userRole.permissions.User.others.read" name="User.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.others.delete" [checked]="userRole.permissions.User.others.delete" name="User.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.others.update" [checked]="userRole.permissions.User.others.update" name="User.others.update"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.self.create" [checked]="userRole.permissions.User.self.create" name="User.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.self.read" [checked]="userRole.permissions.User.self.read" name="User.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.self.delete" [checked]="userRole.permissions.User.self.delete" name="User.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.User.self.update" [checked]="userRole.permissions.User.self.update" name="User.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>

			<ng2-md-datatable-row>
				<ng2-md-datatable-column>UserRole</ng2-md-datatable-column>
				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.others.create" [checked]="userRole.permissions.UserRole.others.create"
					 name="UserRole.others.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.others.read" [checked]="userRole.permissions.UserRole.others.read"
					 name="UserRole.others.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.others.delete" [checked]="userRole.permissions.UserRole.others.delete"
					 name="UserRole.others.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.others.update" [checked]="userRole.permissions.UserRole.others.update"
					 name="UserRole.others.update"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.self.create" [checked]="userRole.permissions.UserRole.self.create"
					 name="UserRole.self.create"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.self.read" [checked]="userRole.permissions.UserRole.self.read" name="UserRole.self.read"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.self.delete" [checked]="userRole.permissions.UserRole.self.delete"
					 name="UserRole.self.delete"></md-checkbox>
				</ng2-md-datatable-column>

				<ng2-md-datatable-column>
					<md-checkbox [(ngModel)]="userRole.permissions.UserRole.self.update" [checked]="userRole.permissions.UserRole.self.update"
					 name="UserRole.self.update"></md-checkbox>
				</ng2-md-datatable-column>
			</ng2-md-datatable-row>

			<ng2-md-datatable-row>

				<button color="primary" md-raised-button>Save</button>

			</ng2-md-datatable-row>
		</ng2-md-datatable>

	</md-card>

</form>