<form #editProfile="ngForm" (ngSubmit)="onSubmit(editProfile.value)">

    <md-input-container [(ngModel)]="Name" style=" margin: 20px 150px 20px 80px;">
        <input mdInput placeholder="Name" value="">
    </md-input-container>
    <md-input-container [(ngModel)]="Email" style=" margin: 20px 150px 20px 80px;">
        <input mdInput placeholder="Email" value="">
    </md-input-container>
    <br>
    <md-input-container [(ngModel)]="Birthdate" style=" margin: 20px 150px 20px 80px;">
        <input mdInput placeholder="Birthdate" value="">
    </md-input-container>
    <md-input-container [(ngModel)]="Password" style=" margin: 20px 150px 20px 80px;">
        <input mdInput placeholder="Password" value="">
    </md-input-container>
    <br>
    <md-input-container [(ngModel)]="Gender" style=" margin: 20px 150px 20px 80px;">
        <input mdInput placeholder="Gender" value="">
    </md-input-container>
    <md-input-container [(ngModel)]="Phone" style=" margin: 20px 150px 20px 80px;">
        <input mdInput placeholder="Phone" value="">
    </md-input-container>

</form>