<md-sidenav-container>
    <md-sidenav #sidenav mode="push">
        <md-nav-list>
            <md-list-item>
                <a md-line>SIGN OUT</a>
                <button md-icon-button color="accent" (click)="onLogOutTapped()">
                    <md-icon>lock_open</md-icon>
                </button>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>

    <div class="my-content">
        <md-toolbar color="primary">
            <button md-icon-button (click)="sidenav.open()">
                <md-icon>menu</md-icon>
                </button>
            <!-- This fills the remaining space of the current row -->
            <!-- <span class="fill-remaining-space"></span> -->
            <span>Group</span>
        </md-toolbar>
    </div>
</md-sidenav-container>