<md-grid-list class="mat-app-background" cols="1" rowHeight="974px">
    <md-grid-tile>
        <md-card class="my-card">
            <md-card-header>
                <md-card-title>Sign Up</md-card-title>
                <md-card-subtitle>My university</md-card-subtitle>
            </md-card-header>

            <form [formGroup]="signUpForm" (ngSubmit)="onSignUpFormSubmit()">
                <md-card-content>
                    <md-grid-list cols="1" rowHeight="3.6rem">
                        <md-grid-tile>
                            <md-input-container color="primary">
                                <input mdInput type="email" placeholder="Email" name="email" formControlName="email" required />
                                <md-hint *ngIf="signUpForm.controls['email'].hasError('pattern')" align="end">
                                    Enter a valid email
                                </md-hint>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-input-container color="primary">
                                <input mdInput type="name" placeholder="Name" name="name" formControlName="name" />
                                <md-hint *ngIf="signUpForm.controls['name'].hasError('minlength')" align="end" required>
                                    Enter at least 6 characters
                                </md-hint>
                            </md-input-container>
                        </md-grid-tile>

                        <md-grid-tile>
                            <md-input-container color="primary">
                                <input mdInput type="phone" placeholder="phone" name="phone" formControlName="phone" />
                                <md-hint *ngIf="signUpForm.controls['phone'].hasError('minlength')&&signUpForm.controls['phone'].hasError('pattern')" align="end" required>
                                    Enter a valid phone number
                                </md-hint>
                            </md-input-container>
                        </md-grid-tile>

                        <md-grid-tile>
                            <md-input-container color="primary">
                                <input mdInput type="birthDate" placeholder="birthDate" name="birthDate" formControlName="birthDate" />
                                <md-hint *ngIf="signUpForm.controls['birthDate'].hasError('pattern')" align="end" required>
                                    Enter The Date in this form YYYY-MM-DD
                                </md-hint>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-input-container color="primary">
                                <input mdInput type="password" placeholder="Password" name="password" formControlName="password" required />
                                <md-hint *ngIf="signUpForm.controls['password'].hasError('minlength')" align="end">
                                    Enter at least 6 characters
                                </md-hint>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-select placeholder="gender" name="gender" formControlName="gender">
                                <md-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.viewValue}}
                                </md-option>
                            </md-select>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-select placeholder="User Role" name="role" formControlName="role">
                                <md-option *ngFor="let role of roles" [value]="role.value">
                                    {{role.viewValue}}
                                </md-option>
                            </md-select>
                        </md-grid-tile>
                    </md-grid-list>
                </md-card-content>

                <md-card-actions>
                    <md-grid-list cols="3" rowHeight="50px">
                        <md-grid-tile colspan="3">
                            <button type="submit" md-raised-button color="primary" [disabled]="signUpForm.controls['email'].hasError('required') || signUpForm.controls['password'].hasError('required') || signUpForm.controls['email'].hasError('pattern') || signUpForm.controls['password'].hasError('minlength')">
                                    SIGN UP
                            </button>
                        </md-grid-tile>
                        <md-grid-tile colspan="3">
                            <a routerLink="/login">
                                <p>Already have an account?</p>
                            </a>
                        </md-grid-tile>
                    </md-grid-list>
                </md-card-actions>
            </form>

        </md-card>
    </md-grid-tile>
</md-grid-list>