<form #editProfile="ngForm" (ngSubmit)="onSave(editProfile.vaue)">
	<md-card>
		<md-grid-list cols="3" rowHeight="100px">

			<md-grid-tile>
				<md-input-container class="input-profile">
					<input mdInput [(ngModel)]="user.name" name="name" #name="ngModel" placeholder="Name" value="">
				</md-input-container>
			</md-grid-tile>

			<md-grid-tile>
				<md-input-container class="input-profile">
					<input mdInput [(ngModel)]="user.email" name="email" placeholder="Email" value="">
				</md-input-container>
			</md-grid-tile>

			<md-grid-tile>
				<md-input-container class="input-profile">
					<input mdInput [(ngModel)]="user.birthDate" name="birthDate" placeholder="Birthdate" value="">
				</md-input-container>
			</md-grid-tile>

			<md-grid-tile>
				<md-input-container class="input-profile">
					<input mdInput [(ngModel)]="user.hashedPassword || user.password" type="password" name="password" placeholder="Password"
					 value="">
				</md-input-container>
			</md-grid-tile>

			<md-grid-tile>
				<md-input-container class="input-profile">
					<input mdInput [(ngModel)]="user.gender" name="gender" placeholder="Gender" value="">
				</md-input-container>
			</md-grid-tile>

			<md-grid-tile>
				<md-input-container class="input-profile">
					<input mdInput [(ngModel)]="user.phone" name="phone" placeholder="Phone" value="">
				</md-input-container>
			</md-grid-tile>

			<md-grid-tile colspan="3">
				<button color="primary" md-raised-button>Save</button>
			</md-grid-tile>

		</md-grid-list>
	</md-card>
</form>