<md-sidenav-container fullscreen>

	<md-sidenav style="width: 12%;" #sidenav mode="push">
		<md-nav-list>
			<a md-list-item routerLink="/dashboard">Dashboard</a>
			<a md-list-item routerLink="/home">Home</a>
			<a md-list-item routerLink="/enrollment">Enrollment</a>
			<a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: userService.apiRoute }" skipLocationChange>Users</a>
			<a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: UserRoleService.apiRoute }" skipLocationChange>User Roles</a>
			<a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: courseService.apiRoute }" skipLocationChange>Courses</a>
			<a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: departmentService.apiRoute }" skipLocationChange>Departments</a>
			<a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: semesterService.apiRoute }" skipLocationChange>Semesters</a>


		</md-nav-list>
	</md-sidenav>

	<md-toolbar color="primary">
		<button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button> {{ title }}

		<span class="fill-space"></span>

		<span>{{ user?.name }}</span>
		<button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>

		<md-menu #menu="mdMenu">

			<button *ngIf="authenticationService.isloggedIn()" md-menu-item (click)="onEditProfile()">
                <md-icon>account_circle</md-icon>
                <span>Edit Profile</span>
            </button>

			<button *ngIf="authenticationService.isloggedIn(); else login" md-menu-item (click)="onLogout()">
                <md-icon>lock</md-icon>
                <span>Log out</span>
            </button>

			<ng-template #login>
				<button md-menu-item (click)="onLogin()">
                    <md-icon>lock_open</md-icon>
                    <span>Log in</span>
                </button>
			</ng-template>

		</md-menu>

	</md-toolbar>

	<div class="main-content">
		<router-outlet></router-outlet>
	</div>

</md-sidenav-container>