<md-sidenav-container fullscreen>

    <md-sidenav style="width: 12%;" #sidenav mode="push">
        <md-nav-list>
            <a md-list-item routerLink="/dashboard">Dashboard</a>
            <a md-list-item routerLink="/home">Home</a>
            <a md-list-item routerLink="/edit-profile">Edit Profile</a>
            <a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: userService.apiRoute }" skipLocationChange>Users</a>
            <a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: userService.apiRoute }">User Roles</a>
            <a md-list-item routerLink="/list-all" [queryParams]="{ apiRoute: userService.apiRoute }">Courses</a>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
         {{ title }}
    </md-toolbar>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>