<md-sidenav-container fullscreen>

    <md-sidenav #sidenav mode="push">
        <md-nav-list>
            <a md-list-item routerLink="/dashboard">Dashboard</a>
            <a md-list-item routerLink="/home">Home</a>
            <a md-list-item routerLink="/edit-profile">Edit Profile</a>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button> {{ title }}
    </md-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

</md-sidenav-container>